image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1

stages:
  - build
  - test
  - deploy

#before_script:
#  - docker info

build:
  stage: build
  script:
    - docker compose build
  rules:
    - if: $CI_COMMIT_BRANCH

test:
  stage: test
  script:
    # Cleanup any previous containers and volumes
    - docker compose down -v --remove-orphans || true
    - docker system prune -f || true

    # Start containers
    - docker compose up -d --build

    # Wait until the database container is ready
    - echo "Waiting for database to be ready..."
    - |
      for i in {1..20}; do
        docker compose exec -T app php artisan migrate:status > /dev/null 2>&1 && break
        echo "Database not ready yet, retrying..."
        sleep 3
      done

    # Run migrations
    - docker compose exec -T app php artisan migrate --force

    # Run tests (job fails if tests fail)
    - docker compose exec -T app php artisan test --stop-on-failure

  after_script:
    # Always clean up
    - docker compose down -v --remove-orphans || true



deploy:
  stage: deploy
  script:
    - echo "Deploy step placeholder"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
