stages:
  - build
  - deploy

variables:
  COMPOSER_ALLOW_SUPERUSER: "1"
  COMPOSER_MEMORY_LIMIT: "-1"
  DEPLOY_PATH: "/home/rashmik.parmar/www/PracticalApp"

build:
  stage: build
  script:
    - echo "BUILD stage"
    - php -v
    - composer --version
    - composer install --no-dev --no-interaction --prefer-dist --no-progress --optimize-autoloader --no-scripts
  artifacts:
    paths:
      - vendor/
      - composer.lock
    expire_in: 1 hour

deploy:
  stage: deploy
  script:
    - echo "DEPLOY stage"
    - rsync -av --delete \
      --exclude='.git' \
      --exclude='.gitignore' \
      --exclude='vendor/' \
      --exclude='tests/' \
      --exclude='storage/' \
      ./ $DEPLOY_PATH/
    - cd $DEPLOY_PATH
    - composer install --no-dev --no-interaction --prefer-dist --no-progress
    - php artisan config:clear
    - php artisan cache:clear
    - chown -R www-data:www-data $DEPLOY_PATH
    - chmod -R 775 storage bootstrap/cache
    - systemctl reload apache2

