image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1

stages:
  - build
  - test
  - deploy

#before_script:
#  - docker info

build:
  stage: build
  script:
    - docker compose build
  rules:
    - if: $CI_COMMIT_BRANCH

test:
  stage: test
  script:
    # Cleanup
    - docker compose down -v --remove-orphans > /dev/null 2>&1 || true
    - docker system prune -f > /dev/null 2>&1 || true

    # Start containers
    - docker compose up -d --build

    # Fix permissions for composer & git
    - docker compose exec -T --user root app chown -R www-data:www-data /var/www
    - docker compose exec -T --user root app git config --global --add safe.directory /var/www

    # Install dependencies
    - docker compose exec -T app composer install --no-interaction --optimize-autoloader

    # Wait for database
    - |
      for i in {1..20}; do
        docker compose exec -T app php artisan migrate:status > /dev/null 2>&1 && break
        echo "Database not ready yet, retrying..."
        sleep 3
      done

    # Run migrations
    - docker compose exec -T app php artisan migrate --force

    # Run tests
    - docker compose exec -T app php artisan test --stop-on-failure

  after_script:
    - docker compose down -v --remove-orphans > /dev/null 2>&1 || true


#deploy:
#  stage: deploy
#  script:
#    - cd $CI_PROJECT_DIR
#    - docker compose down || true
#    - docker compose up -d --build
#  only:
#    - main

deploy:
  stage: deploy
  script:
    - docker compose -f docker-compose.prod.yml down || true
    - docker compose -f docker-compose.prod.yml up -d --build
  only:
    - main

