stages:
  - deploy

deploy:
  stage: deploy
  only:
    - main
  script:
    - docker compose down || true
    - docker compose up -d --build
    - docker compose exec app php artisan migrate --force
    - docker compose exec app php artisan optimize
