stages:
  - build
  - deploy

variables:
  COMPOSER_ALLOW_SUPERUSER: "1"
  COMPOSER_MEMORY_LIMIT: "-1"
  DEPLOY_PATH: "/home/rashmik.parmar/www/PracticalApp"

build:
  stage: build
  script:
    - echo "BUILD stage"
    - php -v
    - composer --version
    - composer install --no-dev --no-interaction --prefer-dist --no-progress --optimize-autoloader --no-scripts
  artifacts:
    paths:
      - vendor/
      - composer.lock
    expire_in: 1 hour

deploy:
  stage: deploy
  script:
    - echo "DEPLOY stage"
    - rsync -av --delete --no-owner --no-group --no-perms --omit-dir-times --exclude='.git' --exclude='.gitignore' --exclude='vendor/' --exclude='tests/' --exclude='storage/' --exclude='bootstrap/cache/' ./ "$DEPLOY_PATH"/
    - cd "$DEPLOY_PATH"
    - git config --global --add safe.directory "$DEPLOY_PATH"
    - composer install --no-dev --no-interaction --prefer-dist --no-progress
    - php artisan config:clear
    - php artisan config:cache
    - sudo systemctl reload apache2

