image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

default:
  tags:
    - PHP-laravel

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - docker compose build

deploy:
  stage: deploy
  only:
    - main
  script:
    - docker compose up -d --build
