image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1

stages:
  - build
  - test
  - deploy

#before_script:
#  - docker info

build:
  stage: build
  script:
    - docker compose build
  rules:
    - if: $CI_COMMIT_BRANCH

test:
  stage: test
  script:
    - docker compose down -v --remove-orphans || true
    - docker system prune -f || true
    - docker compose up -d --build
    - sleep 10
    - docker compose exec -T app php artisan migrate --force
    - docker compose exec -T app php artisan test
  after_script:
    - docker compose down -v --remove-orphans || true


deploy:
  stage: deploy
  script:
    - echo "Deploy step placeholder"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
