image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1

stages:
  - build
  - test
  - deploy

#before_script:
#  - docker info

build:
  stage: build
  script:
    - docker compose build
  rules:
    - if: $CI_COMMIT_BRANCH

test:
  stage: test
  script:
    - docker compose down || true
    - docker compose up -d --build

    # wait for container
    - sleep 10

    # APP KEY (only if not present)
    - docker compose exec -T app php artisan key:generate --force

    # DB
    - docker compose exec -T app php artisan migrate --force

    # Tests
    - docker compose exec -T app php artisan test
  after_script:
    - docker compose down || true
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'

deploy:
  stage: deploy
  script:
    - echo "Deploy step placeholder"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
