version: "3.8"

services:
  app:
    build: .
    restart: always
#   container_name: laravel_app
#    volumes:
#      - .:/var/www
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
    networks:
      - laravel

  nginx:
    image: nginx:alpine
 #   container_name: laravel_nginx
    ports:
      - "8001:80"
    volumes:
      #- .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel



networks:
  laravel:
